
  
        * {
          box-sizing: border-box;
          margin: 0px;
          padding: 0px;
        }
        body {
          font-family: Arial, sans-serif;
        }
        nav {
          background: rgb(56, 44, 44);
          color: rgb(255, 255, 255);
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
        nav .mainMenu {
          display: flex;
          list-style: none;
        }
        nav .mainMenu li a {
          display: inline-block;
          padding: 15px;
          text-decoration: none;
          font-family: 'Times New Roman', Times, serif;
          color: rgb(255, 255, 255);
          font-size: 18px;
          transition: 0.2s ease;
        }
        nav .mainMenu li a:hover {
          background: rgb(169, 165, 164);
        }
        nav .openMenu {
          font-size: 2rem;
          font-family: bold;
          margin: 20px;
          display: none;
          cursor: pointer;
        }
        nav .mainMenu .closeMenu,
        .icons i {
          font-size: 2rem;
          display: none;
          cursor: pointer;
        }
        
        nav .logo {
          margin: 6px;
          cursor: pointer;
          text-transform: uppercase;
        }
        @media (max-width: 800px) {
          nav .mainMenu {
            height: 100vh;
            position: fixed;
            top: 0px;
            right: 0px;
            left: 0px;
            z-index: 10;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: rgb(0, 0, 0);
            transition: top 1s ease 0s;
            display: none;
          }
          nav .mainMenu .closeMenu {
            display: block;
            position: absolute;
            top: 20px;
            right: 20px;
          }
          nav .openMenu {
            display: block;
          }
          nav .mainMenu li a:hover {
            background: none;
            color: rgb(131, 157, 182);
          }
          .icons i {
            display: inline-block;
            padding: 12px;
          }
        }
          body, html {
          height: 100%;
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
        }
        
        * {
          box-sizing: border-box;
        }
        
        
        h1 {
            margin: 0;
        }
        
        
        section {
          max-width: 1100px;
          margin: 20px auto;
          padding: 20px;
          background-color: #fff;
          border-radius: 8px;
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }
      
       
        
        footer {
            background-color: rgb(56, 44, 44);
            color: #fff;
            text-align: center;
            width: 100%;
            padding: 25px;
          

        }
        #hem{
          margin-top: 15px;
          margin-bottom: 15px;
        }
       
        #om-oss {
            background-color: rgb(56, 44, 44);
            color: #ffffff;
        }
        
        #om-osss h2 {
            color: #f4f1f1;
            
        
        }
        #om-osss{
            background-color: rgb(56, 44, 44);
            color:#fff; 
        }
        
       
        
        #kontakt {
            background-color: rgb(56, 44, 44);
            color: #ffffff;
        }
        
        #kontakt ul {
            list-style-type: none;
            padding: 0;
        }
        
        #kontakt ul li {
            margin-bottom: 5px;
        }
      
        img{
          width: 100%;
          border-radius: 5px;
    
        }